<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>KaufDort Homepage</title>
<link rel="stylesheet" href="css/style2.css">
<script src="https://d3js.org/d3.v7.min.js"></script>


</head>
<body>

	<!-- Navigationsbar -->
	<nav class="navbar">
		<a href="./main"><img src="images/LogoKaufDort.gif" alt="Logo"></a>
		<div>

			<!-- Marketing button -->
			<form action="./MarketingServlet">
				<button type="submit">Marketingmaßnahmen</button>
			</form>

			<!-- Upload-button -->
			<form name="main" method="post" action="main"
				enctype="multipart/form-data">
				<input type="file" name="file-input" id="file-input"
					onchange="document.forms['main'].submit()" style="display: none"
					accept=".csv" />
			</form>
			<button onclick="document.getElementById('file-input').click()">Datei
				hochladen</button>



			<!-- Dropdown Für Analysen-->
			<div class="dropdown">
				<button>Analysen</button>
				<div class="dropdown-content">
					<form name="buttons" id="buttonForm" method="post"
						action="WekaServlet">
						<input type="hidden" id="selectedButton" name="selectedButton">
						<th:block th:each="button, buttonStatus : ${buttons}">
							<span th:unless="${button == 'Empty'}">
								<button type="button" th:text="${button}"
									onclick="selectButton(this)"></button>
							</span>
							<span th:if="${button == 'Empty'}">
								<button disabled th:text="${button}"></button>
							</span>
						</th:block>
					</form>
				</div>
			</div>

			<script>
  				function selectButton(button) {
    				var selectedButtonInput = document.getElementById("selectedButton");
    				selectedButtonInput.value = button.textContent;
    				document.getElementById("buttonForm").submit();
  				}
			</script>
		</div>
	</nav>


	<!-- Sanduhr versteckt im hintergrund halten -->
	<div class="loading" id="loading">
		<img src="images/sanduhr.gif" id="loadingimg">
	</div>

	<!-- Ausgeben eines Fehlers -->
	<input type="checkbox" id="show-dialog" th:checked="${error != null}" />
	<div id="modal-backdrop">
		<div id="modal-window">
			<h1>Error</h1>
			<p th:text="${error}"></p>
			<button id="close-button"
				onclick="document.getElementById('show-dialog').checked = false">Close</button>
		</div>
	</div>


	<!-- Marketingmaßnahmen -->
	<div class="container">
		<div class="box">
			<h1 class="title">Marketingmaßnahmen</h1>
			<div class="line"></div>
			<ul class="list">
				<li th:each= "item : ${items}"><span th:text="${item}"></span></li>
			</ul>
			<div class="button" onclick="toggleTextBox()">
				<span>+</span>
			</div>
			<form action="./MarketingServlet"></form>
			<div class="textbox" id="textbox">
				<textarea rows="4" cols="50"></textarea>
				<button type="submit" class="submit-button">hinzufügen</button>
			</div>
		</div>
	</div>

	<script>
        function toggleTextBox() {
            var textbox = document.getElementById("textbox");
            if (textbox.style.display == "none") {
                textbox.style.display = "block";
            } else {
                textbox.style.display = "none";
            }
        }
    </script>


	<script>

	const loading = document.getElementById('loading');
	const loadingimg = document.getElementById('loadingimg');
	console.log(loadingimg);
	/* beim drücken von "zurueck" im browser wird die Sanduhr versteckt */
	window.addEventListener( "pageshow", function ( event ) {
		  var historyTraversal = event.persisted || 
		                         ( typeof window.performance != "undefined" && 
		                              window.performance.navigation.type === 2 );
		  if ( historyTraversal ) {
			loading.style.display = "none";
			loadingimg.style.display = "none";
		    window.location.reload();
		  }
		});
	
	
	/* Lädt die Sanduhr */
	const forms = document.querySelectorAll('form');

	forms.forEach(form => {
		
  		form.addEventListener('submit', function(){
   
    		event.preventDefault();
    		loading.style.display = "flex";
    		loadingimg.style.display = "flex";
    		form.submit();
    
  });
});
	</script>
</body>
</html>