<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>KaufDort Homepage</title>
<link rel="stylesheet" href="css/style2.css">
<script src="https://d3js.org/d3.v7.min.js"></script>

</head>
<body>

	<!-- bitec Logo -->
	<img class="bitecLogo" src="images/bitecLogo.png" alt="bitec GmbH">
	
	<!-- Navigationsbar -->
	<nav class="navbar">
		<a href="./main"><img src="images/LogoKaufDort.gif" alt="Logo"></a>
		<div>

			<!-- Marketing button -->
			<form action="./MarketingServlet" id="marketingFrom">
				<button type="submit" onclick="SubmitEvent('marketingFrom')">Marketingmaßnahmen</button>
			</form>

			<!-- Upload-button -->
			<form name="main" id="upload" method="post" action="main"
				enctype="multipart/form-data">
				<input type="file" name="file-input" id="file-input"
					onchange="SubmitEvent('upload');" style="display: none"
					accept=".csv" />
			</form>
			<button onclick="document.getElementById('file-input').click()">Datei hochladen</button>



			<!-- Dropdown Für Analysen-->
			<div class="dropdown">
				<button>Analysen</button>
				<div class="dropdown-content">
					<form name="buttons" id="buttonForm" method="post"
						action="WekaServlet">
						<input type="hidden" id="selectedButton" name="selectedButton">
						<th:block th:each="button, buttonStatus : ${buttons}">
							<span th:unless="${button == 'Empty'}">
								<button type="button" th:text="${button}"
									onclick="selectButton(this)"></button>
							</span>
							<span th:if="${button == 'Empty'}">
								<button disabled th:text="${button}"></button>
							</span>
						</th:block>
					</form>
				</div>
			</div>
			
			<form action="./LogoutServlet" id="logout">
				<button style="background-color: blue" type="submit">Logout</button>
			</form>
			
		</div>
	</nav>


	<!-- Sanduhr versteckt im hintergrund halten -->
	<div class="loading" id="loading">
		<img src="images/sanduhr.gif" id="loadingimg">
	</div>

	<!-- Ausgeben eines Fehlers -->
	<input type="checkbox" id="show-dialog" th:checked="${error != null}" />
	<div id="modal-backdrop">
		<div id="modal-window">
			<h1>Error</h1>
			<p th:text="${error}"></p>
			<button id="close-button"
				onclick="document.getElementById('show-dialog').checked = false">Close</button>
		</div>
	</div>

<!-- Marketingmaßnahmen ripped off: https://web.dev/creative-list-styling/-->
<div class="wrapper">
	<h1>Marketingmaßnahmen</h1>
	<ol role="list">
		<li th:each= "item : ${items}"><span th:text="${item}"></span></li>
	</ol>
	
	<!-- hinzufügen von Marketingmaßnahmen -->
	<h2>Marketingmaßnahme hinzufügen:</h2>
	<form action="./MarketingServlet" method="POST" id="markForm">
			<div class="textbox" id="textbox">
				<textarea rows="4" cols="50" id="marketingTextbox" placeholder="Marketingmaßnahme eintragen" required></textarea>
				<button type="button" class="submit-button" onclick="getText()">hinzufügen</button>
			
			</div>
	</form>
</div>


	<script>
        /* beim drücken von "zurueck" im browser wird die Sanduhr versteckt */
        window.addEventListener("pageshow", function(event) {
        	var historyTraversal = event.persisted ||
        		(typeof window.performance != "undefined" &&
        			window.performance.getEntriesByType("navigation")[0].type === "back_forward");
        	if (historyTraversal) {
        		loading.style.display = "none";
        		loadingimg.style.display = "none";
        		window.location.reload();
        	}
        });
    </script>
<!-- lade domManipulation -->
<script src="./javascript/domManipulation.js"></script>
</body>
</html>