.navbar {
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }

      .navbar img {
        height: 40px;
      }

      .navbar button {
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 10px 15px;
        margin-left: 10px;
        cursor: pointer;
      }

      /* History dropdown styles */
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none;
        position: absolute;
        z-index: 1;
      }

      .dropdown-content button {
        background-color: #f9f9f9;
        color: black;
        padding: 10px 15px;
        border: none;
        cursor: pointer;
        width: 100%;
        text-align: left;
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }

      /* Chart container styles */
      .chart-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        justify-content: center;
      }

      .chart {
        position: relative;
        font-size: 30px;
        width: calc(100% -20px);
        height: 300px;
        margin: 10px;
        background-color: #ffffff;
        border-radius: 4px;
      }

      .chart::before {
        content: attr(data-name);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
        font-weight: bold;
      }
      
.navbar-2 {
        display: flex;
        justify-content: space-between;
        background-color: #333;
        overflow: hidden;
        position: sticky;
        top: 0;
      }
      
      /* Style for the second navbar links */
      .navbar-2 a {
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        width: calc(100% / 4);
        box-sizing: border-box;
      }

      /* Style for the active class */
      .active {
        background-color: #4CAF50;
      }

      /* Hide the link that should open and close the navbar on small screens */
      .navbar-2 .icon {
        display: none;
      }